/* src/App.css */
.App {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f4f7;
    text-align: center;
  }
  
  .weather-app form {
    margin-bottom: 20px;
  }
  
  .weather-app input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .weather-app button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .weather-app button:hover {
    background-color: #0056b3;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  